/* Reset CSS for all browsers */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

* {
  box-sizing: border-box;
}

h1, h2 {
  font-family: 'Roboto Slab', serif;
}

h3, h4, h5 {
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: #444444;
  font-size: 35px;
  margin-bottom: 20px;
  font-weight: 300;
}

h2 {
  color: #444444;
  font-size: 38px;
  font-weight: 300;
}

h3 {
  color: #fff;
  font-size: 18px;
}

h4 {
  font-size: 16px;
  color: #848484;
}

h5 {
  font-size: 22px;
  color: #444;
  font-weight: 400;
  margin: 30px 0px 20px 0px;
}

p, span {
  color: #888;
  font-size: 18px;
  font-family: 'Roboto', arial, sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style-type: none;
}

button {
  background-color: #00c853;
  color: #fff;
  padding: 20px;
  font-size: 18px;
  border: none;
}

button:hover {
  background-color: #43a047;
}

/* Menu in header */
#menu {
  display: none;
  font-size: 16px;
  font-family: "Roboto", arial, sans-serif;
  justify-content: flex-end;
  margin: 15px;
}

#menu li {
  font-size: 12px;
  Color: #448aff;
  font-family: "Roboto", arial, sans-serif;
  text-align: right;
  padding: 5px;
}

input:checked+#menu {
  display: block;
}

nav[role=header-menu] {
  display: flex;
  flex-direction: column;
}

.menu-bar {
  align-self: flex-end;
}

.menu-bar span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #848484;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
}

.header {
  z-index: 1;
  width: 100%;
  position: fixed;
  background-color: #fff;
  top: 0;
  box-shadow: 0 3px 2px -2px grey;
}

.header li a {
  font-family: 'Roboto', sans-serif;
  color: #888;
  font-size: 14px;
}

.header li a:hover {
  color: #448aff;
}

.header li a:active {
  border-bottom: 2px solid #448aff;
}

/* Top Logo */
.logo {
  margin: 20px;
}

.logo p {
  color: #757575;
  font-family: 'product sans', sans-serif;
}

.logo img, .logo p {
  display: inline-block;
}

.logo img {
  vertical-align: middle;
}

.header-menu {
  display: none;
  text-align: right;
  padding: 20px 20px 0px 20px;
}

.header-menu li {
  display: inline-block;
  margin: 0px 10px 10px 10px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.row:not(.hero-section) {
  padding: 40px;
}

.row button a {
  color: white;
  text-transform: uppercase;
}

.column, .boxes {
  width: 100%;
}

.button-round {
  position: absolute;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  padding: 10px;
}

.button-round img {
  object-fit: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

/* Hero section */
.hero-section {
  margin-top: 130px;
  position: relative;
}

.hero-section a {
  color: #448aff;
  font-size: 14px;
  font-family: 'Roboto', arial, sans-serif;
}

.hero-section-left p {
  font-size: 20px;
}

.hero-section-left {
  padding: 45px;
}

.hero-section-left button {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}

.hero-section-right p {
  color: #848484;
  font-family: 'Roboto', arial, sans-serif;
  font-size: 14px;
}

.hero-section-right {
  background-color: #01bfa5;
}

.hero-section-right img {
  width: 100%;
  position: relative;
}

.button-next-chapter {
  background-color: #448aff;
  left: calc(50% - 25px);
  bottom: 40px;
}

.button-next-chapter img {
  width: 30%;
}

.button-next-chapter:hover {
  background-color: #2962ff;
}

a.button-next-chapter {
  color: #fff;
}

.row-section-left h4 {
  border-bottom: 2px solid #448aff;
  padding-bottom: 20px;
  width: max-content;
  margin-bottom: 30px;
}

.row-section-left, .row-section-right {
  width: 100%;
  margin: 10px 10px 50px 10px;
}

.section-right-box {
  background-color: #fff;
  position: relative;
}

.section-right-box .section-youtube-img {
  width: 100%;
}

.section-right-box-text {
  padding: 20px;
  font-family: 'Roboto', arial, sans-serif;
  font-size: 14px;
  color: #848484;
  font-weight: 400;
}

/* Advertise section */
.advertise-section {
  background-color: #f6f6f6;
}

.advertise-section a {
  color: #00c853;
}

.advertise-section p {
  color: #a3a3a3;
}

.advertise-section h2 {
  margin: 20px 0px;
}

.get-more p {
  color: #848484;
  font-style: 500;
  font-size: 16px;
}

.our-experts {
  color: #848484;
  font-size: 16px;
  font-weight: 600;
}

.phone {
  width: 15px;
  height: 15px;
}

.call-us {
  font-weight: 400;
  font-size: 20px;
  font-family: 'Roboto', arial, sans-serif;
  color: #00c853;
}

.get-more-website p {
  color: #848484;
  font-family: 'Roboto', arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.our-experts p {
  color: #848484;
  font-family: 'Roboto', arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
}

p.advertise-support {
  color: #a3a3a3;
  font-size: 12px;
  margin: 15px 0px;
}

.button-youtube {
  background-color: #ff5151;
  right: 20px;
  bottom: 60px;
}

.button-youtube img {
  width: 40%;
}

.button-youtube:hover {
  background: #d50000;
}

.advertise-section-boxes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.boxes {
  padding: 30px 30px 45px 30px;
  margin: 10px;
  background-color: white;
  position: relative;
  display: flex;
  flex-direction: column;
}

.boxes a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.boxes-img-icons {
  width: 35px;
  height: 35px;
  object-fit: scale-down;
}

.icon-arrow {
  width: 20px;
  height: auto;
  align-self: flex-end;
  position: absolute;
  bottom: 0;
  margin-bottom: 15px;
}

.boxes-text {
  font-size: 14px;
  color: #a3a3a3;
  font-weight: 400;
  line-height: 1.7;
}

.work-smarter-section {
  background-color: #fff;
  width: 100%;
}

.work-smarter-section .section-right-box {
  background-color: #f6f6f6;
}

.work-smarter-section .boxes {
  background-color: #f6f6f6;
}

.row .measure-learn-section {
  width: 100%;
}

/* Explore all business solutions */
.business-solutions {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}

.business-solutions-section {
  width: calc(100% - 30px);
  padding: 20px;
  margin: 10px;
}

.business-solutions-section a {
  font-size: 14px;
  color: #448aff;
  text-decoration: none;
  line-height: 1.6;
}

.business-solutions-section a:hover {
	color: #2962ff;
}

.line_yellow, .line_blue, .line_red, .line_green {
	height: 2px;
	width: 50px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.line_yellow {
  background-color: #ffbc00;
}

.line_blue {
  background-color: #448aff;
}

.line_red {
  background-color: #ff5151;
}

.line_green {
  background-color: #02c852;
}

/* Footer */
footer {
  background-color: #444;
  width: 100%;
  padding: 30px 60px;
}

footer a, footer span {
  color: #a3a3a3;
  font-size: 14px;
  font-weight: 400;
  vertical-align: sub;
}

footer span {
  margin: 0px 20px 0px 0px;
}

.footer-social-media, .footer-section-help, .footer-menu {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  margin: 20px 0px;
}

.footer-social-media p {
  margin-right: 30px;
}

.footer-social-media img {
  margin-right: 15px;
  width: 65%;
  height: auto;
}

.footer-menu, .footer-section-help {
  border-top: 1px solid #8a8a8a;
  padding-top: 30px;
}

.footer-menu {
  justify-content: center;
}

.footer-menu .column {
  width: calc(100% - 20px);
  margin: 10px;
}

.footer-menu h3 {
  margin-bottom: 10px;
}

.footer-section-help span {
  vertical-align: sub;
  margin: 0px 10px;
}

@media (min-width: 900px) {
  h1 {
    font-size: 48px;
  }
  nav[role=header-menu] {
    display: none;
    align: content;
  }
  .header-menu {
    display: block;
  }
  .hero-section-right img {
    position: absolute;
    bottom: 0;
    object-fit: contain;
    max-height: 100%;
  }
  .hero-section-left, .hero-section-right, .hero-section-right img {
    width: 50%;
  }
  .row-section-left, .row-section-right {
    width: calc(50% - 20px);
  }
  .boxes:hover {
    box-shadow: 0px 3px 7px 0px #bdbdbd;
  }
  .business-solutions-section {
    width: calc(33.33% - 20px);
  }
  .boxes, .footer-menu .column {
    width: calc(25% - 20px);
  }
}

@media (min-width: 600px) and (max-width: 900px) {
  nav[role=header-menu] {
    display: none;
  }
  .header-menu {
    display: block;
  }
  .hero-section-right {
    width: 50%;
  }
  .hero-section-right img {
    width: 50%;
    position: absolute;
    bottom: 0;
    object-fit: contain;
    max-height: 100%;
  }
  .hero-section-left {
    width: 50%;
  }
  .hero-section-left p {
    font-size: 15px;
  }
  .business-solutions-section, .boxes, .footer-menu .column {
    width: calc(50% - 20px);
  }
}
