/* Reset CSS for all browsers */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

* {
	box-sizing: border-box;
}

h1 {
	color: #444444;
	font-family: 'Roboto Slab', serif;
	font-size: 48px;
	margin-bottom: 20px;
	font-weight:300;
}

h2{
	color: #444444;
	font-family: 'Roboto Slab', serif;
	font-size: 38px;
	font-weight: 300;
}

h3 {
	color: #fff;
  font-family: 'Roboto', sans-serif;
	font-size: 18px;
}

h4 {
	font-size: 16px;
	color: #848484;
	font-family: 'Roboto', arial, sans-serif;
}

h5 {
	font-family: 'Roboto',arial,sans-serif;
	font-size: 22px;
	color: #444;
	font-weight: 400;
	margin: 30px 0px 20px 0px;
}

/* .hamburger-menu{
	display: none;
} */

#menu{
	display: none;
	left: -500px;
	font-size: 16px;
	font-family:"Roboto", arial, sans-serif;
}

input:checked + #menu{
	display: block;
	left: 0;
}

input{
	display: none;
}

span {
 display: block;
 width: 33px;
 height: 4px;
 margin-bottom: 5px;
 position: relative;
 background: black;
 border-radius: 3px;
 z-index: 1;
 transform-origin: 4px 0px;
}

p, span {
	color: #888;
	font-size: 18px;
	font-family: 'Roboto',arial, sans-serif;
	font-weight: 300;
}

a {
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
}

ul {
	list-style-type:none;
}

button { /* all buttons =green? if els look at 39*/
	background-color: #00c853;
	color: #fff;
	padding: 20px;
	font-size: 18px;
	border: none;
}

button:hover {
	background-color: #43a047;
}

/* Menu in header */
.header {
	z-index: 1;
  width: 100%;
	position: fixed;
  background-color: #fff;
  top: 0;
  box-shadow: 0 3px 2px -2px grey;
}

.header li a {
  font-family: 'Roboto', sans-serif;
  color: #888;
	font-size: 14px;
}

/* Hej Freja! Kanon att du städar i CSS:en! :) */

.header li a:hover {
  color: #448aff;
}

.header li a:active {
	border-bottom: 2px solid #448aff;
}

/* Top Logo BZ so */
.logo {
	margin: 20px;
}

.logo p {
  color: #757575;
  font-family: product sans, sans-serif;
}

.logo img, .logo p{
	display: inline-block;
}

.logo img {
	vertical-align: middle;
}

.header-menu {
	text-align: right;
	padding: 0px 20px 20px 0px;
}

.header-menu li {
	display: inline-block;
	margin: 0px 10px 10px 10px;
}

.row {
  display: flex;
	flex-wrap: wrap;
  justify-content: space-between;
	width: 100%;
}

.row:not(.hero-section) {
	padding: 40px;
}

.row button a {
	color: white;
	text-transform: uppercase;
}

.button-round {
	position: absolute;
	border-radius: 100%;
	width: 50px;
	height: 50px;
	padding: 10px;
}

.button-round img {
  object-fit: cover;
	position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

/* Hero section */
.hero-section {
	margin-top: 130px;
	position: relative;
}

.hero-section a {
	color: #448aff;
	font-size: 14px;
	font-family: 'Roboto', arial, sans-serif;
}

.hero-section-left {
	width: 50%;
	padding: 70px;
}

.hero-section-left p {
	font-size: 20px;
}

.hero-section-right p {
	color: #848484;
	font-family: 'Roboto',arial,sans-serif;
	font-size: 14px;
}

.hero-section-left button {
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
}

.hero-section-right {
	width: 50%;
	background-color: #01bfa5;
}

.hero-section-right img {
	width: 50%;
	position: absolute;
	bottom: 0;
	object-fit: contain;
  max-height: 100%;
}

.button-next-chapter {
  background-color: #448aff;
	left: calc(50% - 25px);
	bottom: 40px;
}

.button-next-chapter img {
  width: 30%;
}

.button-next-chapter:hover {
	background-color: #2962ff;
}

a.button-next-chapter {
	color: #fff;
}

/* Advertise section */
.advertise-section {
	background-color: #f6f6f6;
}
.advertise-section a {
	color: #00c853;
}
.advertise-section p {
	color:#a3a3a3;
}

.get-more p{
	color: #848484;
  font-family: 'Roboto',arial,sans-serif;
	font-style: 500;
	font-size: 16px;
}

.our-experts {
	color: #848484;
	font-family: 'Roboto',arial,sans-serif;
	font-size: 16px;
  font-weight: 600;
}

.phone {
width: 15px;
height: 15px;
}

.call-us {
	font-weight: 400;
	font-size: 20px;
	font-family: 'Roboto',arial,sans-serif;
	color: #00c853;
}

.get-more-website p{
	color: #848484;
  font-family: 'Roboto',arial,sans-serif;
	font-weight: 400;
	font-size: 20px;
}

.our-experts p {
	color: #848484;
	font-family: 'Roboto',arial,sans-serif;
	font-size: 16px;
  font-weight: 500;
}

.advertise-section-left, .advertise-section-right {
	width: calc(50% - 20px);
	margin: 10px 10px 50px 10px;
}

.advertise-section h2 {
	margin: 20px 0px;
}

.advertise-section-left h4 {
	border-bottom: 2px solid #448aff;
	padding-bottom: 20px;
	width: max-content;
	margin-bottom: 30px;
}

p.advertise-support{
		color:#a3a3a3;
		font-size: 12px;
		margin: 15px 0px;
}

.advertsie-section-right-box {
	background-color: white;
	position: relative;
}

.advertsie-section-right-box
.advertise-section-youtube-img {
	width: 100%;
}


.section-right-box-text {
	padding: 20px;
	font-family: 'Roboto', arial, sans-serif;
	font-size: 14px;
	color: #848484;
	font-weight: 400;
}

.button-youtube {
	background-color: #ff5151;
	right: 20px;
  bottom: 60px;
}

.button-youtube img {
		width: 40%;
}

.button-youtube:hover {
  background: #d50000;
}

.advertise-section-boxes {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.boxes {
	width: calc(25% - 20px);
	padding: 30px 30px 45px 30px;
	margin: 10px;
	background-color: white;
	position: relative;
	display: flex;
	flex-direction: column;
}

.boxes a {
	position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.boxes-img-icons {
	width: 35px;
	height: 35px;
	object-fit: scale-down;
}

.boxes-img2 {
	width: 20px;
	height: auto;
	align-self: flex-end;
	position: absolute;
	bottom: 0;
	margin-bottom: 15px;
}

.boxes-text {
	font-size: 14px;
	color: #a3a3a3;
	font-family: 'Roboto', arial, sans-serif;
	font-weight: 400;
	/* margin: 0 0 20px; */
}

.work-smarter-section {
	background-color: #fff;
}

.work-smarter-section .boxes {
	background-color: #f6f6f6;
}

/* Explore all business solutions */

.business-solutions {
		width: 100%;
		/* padding: 30px 60px; */
		display: flex;
		flex-direction: row;
		flex-flow: wrap;
}

.business-solutions-section {
	width: calc(33.33% - 30px);
	padding: 20px;
	margin: 10px;
}

.business-solutions-section a {
	font-size: 12px;
	color: blue;
	text-decoration: none;
	line-height: 35px;
}

/* .business-solutions .column {
	width: calc(33% - 20px);
	margin: 10px;
} */
/* Footer */
footer {
	background-color: #444;
	width: 100%;
	padding: 30px 60px;
}

footer a, footer span{
	color: #a3a3a3;
	font-size: 14px;
	font-weight: 400;
	vertical-align: sub;
}

footer span {
  margin: 0px 20px 0px 0px;
 }

.footer-social-media, .footer-section-help, .footer-menu {
	display: flex;
	flex-direction: row;
	flex-flow: wrap;
	margin: 20px 0px;
}

.footer-social-media p {
	margin-right: 30px;
}

.footer-social-media img {
	margin-right: 15px;
	width: 65%;
  height: auto;
}

.footer-menu, .footer-section-help {
	border-top: 1px solid #8a8a8a;
	padding-top: 30px;
}

.footer-menu {
	justify-content: center;
}

.footer-menu .column {
	width: calc(25% - 20px);
	margin: 10px;
}

.footer-menu h3 {
	margin-bottom: 10px;
}

.footer-section-help span {
  vertical-align: sub;
	margin: 0px 10px;
}

@media (max-width: 600px) {
		h1 {
			font-size: 35px;
		}
		.column, .boxes {
			width: 100%;
		}

		.hero-section-right img {
			width: 100%;
			position: relative;
		}

		.footer-menu .column {
			width: calc(100% - 20px);
			margin: 10px;
		}
	}

@media (min-width: 600px) and (max-width: 900px) {
		h1 {
			font-size: 40px;
		}

		.boxes {
		  width: calc(50% - 20px);
		}

		.hero-section-left {
			padding: 45px;
		}
		.hero-section-left p {
			font-size: 15px;
		}

		.footer-menu .column {
			width: calc(50% - 20px);
			margin: 10px;
		}
	}
