/* Reset CSS for all browsers */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

* {
	box-sizing: border-box;
}

h1 {
	color: #444444;
	font-family: 'Roboto Slab', sans-serif;
	font-size: 60px;
	margin-bottom: 20px;
}

h2 {
	font-size: 48px;
	font-family: 'Roboto', sans-serif;
	color: #444444;
	margin: 30px 0px 20px 0px;
}

h3 {
	color: #fff;
  font-family: 'Roboto', sans-serif;
	font-size: 18px;
}

h4 {
	font-size: 14px;
	color: #8b8b8b;
	font-family: 'Roboto', sans-serif;
	border-bottom: 2px solid #448aff;
	padding-bottom: 10px;
	width: max-content;
}

p {
	color: #888;
	font-size: 18px;
	font-family: 'roboto', sans-serif;
}

a {
	text-decoration: none;
	font-family: roboto, sans-serif;
}

button { /* all buttons =green? if els look at 39*/
	background-color: #00c853;
	color: #fff;
	padding: 20px;
	font-size: 18px;
	border: none;
}

button:hover {
	background-color: #43a047;
}

/* Menu in header */
.header {
	z-index: 1;
  width: 100%;
	position: fixed;
  background-color: #fff;
  top: 0;
  box-shadow: 0 3px 2px -2px grey;
}

.header li a {
  font-family: roboto, sans-serif;
  color: #888;
	font-size: 14px;
}

.header li a:hover {
  color: #448aff;
}

.header li a:active {
	border-bottom: 2px solid #448aff;
}

/* Top Logo BZ so */
.logo {
	margin: 20px;
}

.logo p {
  color: #757575;
  font-family: product sans, sans-serif;
}

.logo img, .logo p{
	display: inline-block;
}

.logo img {
	vertical-align: middle;
}

.header-menu {
	text-align: right;
	padding: 0px 20px 20px 0px;
}

.header-menu li {
	display: inline-block;
	margin: 0px 10px 10px 10px;
}

/* Hero section */
.hero-section {
	margin-top: 130px;
	position: relative;
	overflow:auto;
}

.hero-section:after {
	content: "";
	clear: both;
}

.hero-section a {
	color: #448aff;
	font-size: 14px;
	font-family: 'Roboto', arial, sans-serif;
}

.hero-section-left {
	width: 50%;
	float: left;
	padding: 60px;
}

.hero-section-left p {
	font-size: 20px;
}

.hero-section-left button {
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
}

.hero-section-left button a {
	color: white;
}

a.button-next-chapter {
	color: white;
}

.hero-section-right {
	width: 50%;
	float: left;
}

.hero-section-right img {
	width: 100%;
}

.button-next-chapter {
	position: absolute;
  bottom: 40px;
  left: calc(50% - 20px);
	background-color: #448aff;
	border-radius: 100%;
	text-align: center;
	width: 40px;
	height: 40px;
	padding: 10px;
}

.button-next-chapter:hover {
	background-color: #2962ff;
}

/* Advertise section */
.advertise-section {
	background-color: #f6f6f6;
	color:#00c853;
}
.advertise-section a{
	color: #00c853;
}
.advertise-section p{
	color:#a3a3a3
}
.advertise-section-left {
	width: 50%;
	float: left;
	padding: 60px;
}

p.advertise-support{
		color:#a3a3a3;
		font-size: 12px;
}


@media (max-width: 600px) {
		h1 {
			font-size: 35px;
		}
		.hero-section-left, .hero-section-right {
			width: 100%;
		}
	}

	@media (min-width: 600px) and (max-width: 900px) {
		h1 {
			font-size: 40px;
		}
		.hero-section-left {
			padding: 45px;
		}
		.hero-section-left p {
			font-size: 15px;
		}
	}


/* Footer */
footer {
	background-color: #444;
}
footer a {
	color: #a3a3a3;
	font-size: 14px;
}
